.sidebar {
    width: 200px;
    height: 100%;
    margin-left: 40px;
    border: 1px solid #ccc;
    float: left;
    border-radius: 8px;
    background-color: #998952;
}
ul.no-bullets {
    list-style-type: none; 
}
.no-decor {
    text-decoration: none;
}
.title {
    margin-left: 20px;
}
a:link {
color: black;
}
a:visited {
color: black;
}
a:hover {
color: hotpink;
}
a:active {
color: black;
}